<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>ToDo list</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div>
  <div class="menu">
    <div class="header">
      <h2>ToDo list</h2>
        <input type="text" id="input" name="content">
        <input type="submit" id="add" class="addBtn" value="Add">
        <input type="submit" id="save" class="saveBtn" value="Save" hidden>
        <input type="submit" id="cancel" class="cancelBtn" value="Cancel" hidden>
    </div>
    <div class="footer">
      <input id="all" type="submit" value="All" class="filter selected">
      <input id="progress" type="submit" value="In progress" class="filter">
      <input id="completed" type="submit" value="Completed" class="filter">
      <input id="clear" type="submit" value="Delete completed tasks" class="filter">
    </div>
  </div>
  <div class="todos">
    <ul id="toDos" tabindex="0"></ul>
  </div>
</div>
  {% load static %}
  <script src="{% static 'todo.js' %}"></script>
</body>
</html>
